.button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
}

.button:hover{
  color: #fdb900;
}